<li><a data-toggle="tab" href="#powers">Powers</a></li> 
<li><a data-toggle="tab" href="#skills">Skills</a></li>
<li><a data-toggle="tab" href="#resources">Resources</a></li> 
<li><a data-toggle="tab" href="#drawbacks">Drawbacks</a></li> 