<div id="powers" class="tab-pane fade in">
    {{markdown-editor text=char.custom.powers}}
</div>
<div id="skills" class="tab-pane fade in">
    {{markdown-editor text=char.custom.skills}}
</div>
<div id="resources" class="tab-pane fade in">
    {{markdown-editor text=char.custom.resources}}
</div>
<div id="drawbacks" class="tab-pane fade in">
    {{markdown-editor text=char.custom.drawbacks}}
</div>
