<div id="systempowers" class="tab-pane fade">
    {{{ansi-format text=char.custom.powers}}}
</div>
<div id="systemskills" class="tab-pane fade">
    {{{ansi-format text=char.custom.skills}}}
</div>
<div id="systemresources" class="tab-pane fade">
    {{{ansi-format text=char.custom.resources}}}
</div>
<div id="systemdrawbacks" class="tab-pane fade">
    {{{ansi-format text=char.custom.drawbacks}}}
</div>