<li><a data-toggle="tab" href="#systempowers">Powers</a></li> 
<li><a data-toggle="tab" href="#systemskills">Skills</a></li> 
<li><a data-toggle="tab" href="#systemresources">Resources</a></li> 
<li><a data-toggle="tab" href="#systemdrawbacks">Drawbacks</a></li> 